/module_9/self_check_m9/hw_1.py
/module_6/self_check_m6/less6_1.py
/module_6/self_check_m6/less6_2.py
/module_6/self_check_m6/less6_3.py
/module_6/self_check_m6/less6_4.py
/module_6/self_check_m6/less6_5.py
/module_6/self_check_m6/less6_6.py
/module_6/self_check_m6/less6_7.py
/module_6/self_check_m6/less6_8.py
/module_6/self_check_m6/less6_9.py
/module_6/self_check_m6/less6_10.py
/module_6/self_check_m6/less6_11.py
/module_6/self_check_m6/less6_12.py
/module_6/self_check_m6/less6_13.py
/module_6/self_check_m6/less6_14.py
/module_6/self_check_m6/test.txt
/module_6/self_check_m6/test2.txt
/module_6/self_check_m6/test5.txt
/module_6/self_check_m6/test6.txt
/module_6/self_check_m6/test7.txt
/module_6/self_check_m6/test10
